@media (max-width: 1000px) {
    /* Tambahkan css untuk lesson */
    #hubungisaya {
        width: auto;
    }
    
    .col-md-8 {
        width: 100%;
        text-align: left;
        margin: auto;
    }

    .body{
        max-width: 100%;
    }

    .jumbotron{
        width: auto;
		float: none;
    }

	#ketorganisasi{
		width: auto;
		float: none;
        padding: auto;
        margin: auto;
	}

}

@media screen and (max-width:576px){
    .body{
        max-width: 100%;
    }

    #hubungisaya {
        width: auto;
    }

    .jumbotron{
        width: auto;
	float: none;
    }

	#ketorganisasi {
	width: 50%;
	float: none;
        font: 15px;
        padding: auto;
	}
	
	#ket2 {
	margin-left : -10px;
	}
	
	#sidebar{
		width: auto;
		float: none;
	}
	
	#hubungisaya {
	width : 50%;
	float : none;
}
